<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- M5 - Apenas permissão necessária -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:label="VulnBank"
        android:theme="@style/Theme.VulnBank"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- M8 - Activities internas não exportadas -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".TransferActivity"
            android:exported="false"/>

        <activity
            android:name=".ProfileActivity"
            android:exported="false"/>

    </application>

</manifest>
